@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@100;200;300;400;500;600;700;800;900&display=swap'); 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -------Nav-bar------------------- */

.navbar {
    height: 72px;
    border-bottom: 0.25px solid #D0D0D0;
}

.navbar .container-fluid{
    padding: 0px 25px;
}

.navbar a{
    text-decoration: none;
}

.navbar a .navbar-text {
    width: 124px;
    height: 35px;
    flex-shrink: 0;
    color: #716966;
    font-family: 'Chivo', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.hamburger {
    display: block;
    cursor: pointer;
}

.bar {
    background-color: #120f0b;
    width: 20px;
    height: 3px;
    display: block;
    margin: 5px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

/* adding active class to the bars  */
.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.links {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0;
    text-decoration: none;
    top: 70px;
    left: -100%;
    text-align: start;
    width: 100%;
    transition: 0.7s ease-in-out;
    background-color: #FFFCF2;
    padding: 10px;
}

.active-links{
    left: 50% !important;
}

.links a{
    margin: 5px 0;
    color: #716966;
    border-bottom: transparent solid 3px;
}

.links .active{
    color: #E0A64E !important;
    border-bottom: #E0A64E solid 3px;
}
.links a:hover{
    color: #FFF !important;
    background-color: #E0A64E;
}

/* ---------Home--------------- */
.home{
}

.top-section{
    background-color: #fff;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px 0 20px;

}

.top-section .top-part{
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.top-section .top-part a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000;
}

.top-section .top-part a svg{

}

.top-section .top-part a p{
    margin-top: 9px;
    margin-bottom: 0;
    color: #716966;
    font-family: 'Chivo', sans-serif;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* -------Card----------- */
div.card-container > div:nth-of-type(odd){
    background: #FFFCF2;
}

.contact-card{
    border-top: 0.25px solid #D7D7D7;
    padding: 0;
    height: 284px;
    display: flex;
}


.contact-card .info{
    padding: 20px 15px 30px 30px;
}

.info .name{
    color: #000;
    font-family: 'Chivo', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
}

.info .about{
    color: #000;
    font-family: 'Chivo', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 18px;
}


.info .deatils-container{
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
}

.info .deatils-container .group{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info .deatils-container .group h3{
    margin: 0;
    color: #000;
    text-align: center;
    font-family: 'Chivo', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
}

.info .deatils-container .group p{
    margin: 0;
    color: #000;
    font-family: 'Chivo', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
}

.info .contacts{
    padding-top: 30px;
}

.info .contacts h4{
    margin: 0;
    color: #000;
    font-family: 'Chivo', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.rating-stars{
    padding: 0;
    display: flex;
    gap: 4px;
}

.rating-stars .star{

}

/* -------------- Card-buttons ---------------------- */

.contact-card .divider-line{
    margin-top: 27px;
    width: 0.25px;
    height: 237px;
    background: #D0D0D0;
}

.contact-card .buttons{
    display: flex;
    flex-direction: column;
    padding: 20px 25px 40px 20px;
    gap: 35px;
}

.contact-card .buttons a{
    padding: 0;
    height: 35px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-card .buttons a p{
    padding: 2px;
    margin: 0;
    color: #8D4337;
    font-family: 'Chivo', sans-serif;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}





@media only screen and (min-width: 768px){
    
    .contact{
        display: flex;
    }
    
    .navbar .nav-links{
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }
    
    .navbar .nav-links .links{
        display: flex;
        justify-content: space-between;
        gap: 15px;
        flex-direction: row;
        position: inherit;
        background: #fff;
    }
    
    .navbar .nav-links a{
        text-decoration: none;
        color: #716966;
        font-family: 'Chivo', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .navbar .hamburger{
        
    }
    .navbar .hamburger .bar{
        width: 0px;
        height: 0px;
        margin: 0;
    }

    .top-section{
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 22px;
        width: 40vh;
        height: 100vh;
    }
    
    .top-section .top-part{
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: 18px;
        width: 100%;
    }

    .top-section .right{
        border-top: #D0D0D0 solid 0.255px;
        padding-top: 15px;
    }

    .top-section .top-part a{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: #000;
    }

    .top-section .top-part a svg{

    }

    .top-section .top-part a p{
        margin: 0;
        padding-left: 10px;
        color: #716966;
        font-family: 'Chivo', sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .card-container{
        display: grid;
        grid-template-columns: auto auto;
    }

    .contact-card{
        background: #fff !important;
        border: none;
        padding: 0;
        height: 284px;
        display: flex;
    }


    
    div.card-container > div:nth-of-type(4n+2), 
    /* div.card-container >  div:nth-of-type(6n-1), */
    div.card-container >  div:nth-of-type(4n+3){
        background: #FFFCF2 !important;
    }
    
    .contact-card .info{
        padding: 20px 15px 30px 30px;
    }
    




}