@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;500;600;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    height: 50px;
    border-bottom: 0.25px solid #D0D0D0;
}

.navbar .container-fluid{
    padding: 3px 40px;
}

.navbar-text {
    width: 124px;
    height: 35px;
    flex-shrink: 0;
    color: #716966;
    font-family: Chivo;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}